@page "/MyProjects"

@inject NavigationManager Navigation

<style>

    body {
        /*font-family:Calibri !important;*/
    }

    img {
        display: inline-block;
    }

    imagecontain {
        max-width: 90%;
    }

    .modelimage {
        height: 75vh !important;
        object-fit: contain;
    }

</style>
<div class="card">

    <div class="card-header text-center" style="background-color: rgb(0 0 0 / 43%) !important;">
        <h3> <b>My Projects</b></h3>
    </div>
    <div class="container">
        @foreach (var row in project)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h5 class="mb-n1"> <b>@row.Name</b></h5>
                </div>

                <div class="row card-body">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 pb-2 mx-auto">
                        <img src="/Images/1/@string.Format($"{row.projectid}.jpg") " class="img-fluid" style="cursor:pointer" alt="@row.Name" @onclick="() => modal.Open(row.projectid.ToString(), row.Name)">

                        <ImageModal @ref="modal">
                            <Body>
                                <div class="text-center imagecontain"><img src="/Images/1/@modal.ImageName" class="embed-responsive modelimage" alt="@row.Name"></div>
                            </Body>
                        </ImageModal>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mx-auto card pb-2 align-middle">
                        <div class="card-text">
                            <p>@row.Description</p>
                        </div>

                        <div>
                            <div class="row align-content-center">
                                @foreach (var lang in langauge.Where(x => x.projectid == row.projectid))
                                {
                                    <p class="ml-2 mr-2 mt-1 mb-1 btn btn-secondary" style="font-size:small">@lang.name</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private ImageModal modal { get; set; }

    private class projects
    {
        public int projectid { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public virtual ICollection<languages> langauge { get; set; }
    }

    private class languages
    {
        public int projectid { get; set; }
        public string name { get; set; }
    }

    List<projects> project = new List<projects>
    {
       new projects { projectid = 1, Name = "Foundation Management System",
       Description = "A system that is responsible for managing a member's donation or money and producing a certificate, also the migration of the old system to a web application, so that members can access the foundation's system without going to the office."},
       new projects { projectid = 2, Name = "Order Management System",
       Description = "The order can be managed by a system that calculates the sizes of doors, panels, and slabs automatically, and the prices are based on the generated sizes."},
       new projects { projectid = 3, Name = "Online RSVP (Custom Wedding Invitation Web App)",
       Description = "It's a web app doesn't have a sign up feature for the anonymous user, to log in or a unique code will be generated for the attendee once the customer adds a guest to his or her list, then to find out how many will be present or not on their invited for the wedding day.."},
       new projects { projectid = 4, Name = "Hotel Staff Management and Recruitment System",
       Description = "Upgrade and develop features of this system, work on employee, hotel owner and candidate modules and also generate some summary recruitment reports."},
       new projects { projectid = 5, Name = "Console Application (API Integration)",
       Description = "Get the data from NetSuite based on the information or parameters changed in another program and populate on the Samsara API with the background process so that it continuously syncs every day and logs all transferred data."},
       new projects { projectid = 6, Name = "Core Banking System",
       Description = "Develop a system-to-system integration and management function for certain transaction modules."},
       new projects { projectid = 7, Name = "Enterprise Management",
       Description = "Implement a bridge or portal to collect all data from another system and distribute to another application to generate a report summary."},
       new projects { projectid = 8, Name = "PMS (Property Management System)",
       Description = "Continue the 60% of the project and finished the other required features and also created an API to begin developing their mobile app."},
    
    };

    List<languages> langauge = new List<languages>
    {
       new languages { projectid = 1, name = "C#"},
       new languages { projectid = 2, name = "C#"},
       new languages { projectid = 3, name = "C#"},
       new languages { projectid = 4, name = "C#"},
       new languages { projectid = 5, name = "C#"},
       new languages { projectid = 6, name = "C#"},
       new languages { projectid = 7, name = "C#"},
       new languages { projectid = 8, name = "C#"},

       new languages { projectid = 1, name = "HTML"},
       new languages { projectid = 2, name = "HTML"},
       new languages { projectid = 4, name = "HTML"},
       new languages { projectid = 5, name = "HTML"},
       new languages { projectid = 6, name = "HTML"},
       new languages { projectid = 7, name = "HTML"},
       new languages { projectid = 8, name = "HTML"},

       new languages { projectid = 1, name = "CSS"},
       new languages { projectid = 2, name = "CSS"},
       new languages { projectid = 4, name = "CSS"},
       new languages { projectid = 5, name = "CSS"},
       new languages { projectid = 6, name = "CSS"},
       new languages { projectid = 7, name = "CSS"},
       new languages { projectid = 8, name = "CSS"},

       new languages { projectid = 1, name = "ASP.NET (Blazor Server)"},
       new languages { projectid = 2, name = "ASP.NET (Blazor Server)"},
       new languages { projectid = 3, name = "ASP.NET (Blazor Server)"},

       new languages { projectid = 1, name = "Javascript"},
       new languages { projectid = 2, name = "Javascript"},
       new languages { projectid = 4, name = "Javascript"},
       new languages { projectid = 5, name = "Javascript"},
       new languages { projectid = 6, name = "Javascript"},
       new languages { projectid = 7, name = "Javascript"},
       new languages { projectid = 8, name = "Javascript"},

       new languages { projectid = 1, name = "Entity Framework (Code First)"},
       new languages { projectid = 2, name = "Entity Framework (Code First)"},
       new languages { projectid = 4, name = "Entity Framework (Datebase First)"},

       new languages { projectid = 1, name = "Bootstrap"},
       new languages { projectid = 2, name = "Bootstrap"},
       new languages { projectid = 4, name = "Bootstrap"},
       new languages { projectid = 5, name = "Bootstrap"},
       new languages { projectid = 6, name = "Bootstrap"},
       new languages { projectid = 7, name = "Bootstrap"},
       new languages { projectid = 8, name = "Bootstrap"},

       new languages { projectid = 1, name = "Telerik"},
       new languages { projectid = 2, name = "Telerik"},

       new languages { projectid = 3, name = "MudBlazor"},
       new languages { projectid = 6, name = "AJAX"},
       new languages { projectid = 7, name = "AJAX"},

       new languages { projectid = 1, name = "SQL Server"},
       new languages { projectid = 2, name = "SQL Server"},
       new languages { projectid = 3, name = "SQL Server"},
       new languages { projectid = 4, name = "SQL Server"},
       new languages { projectid = 6, name = "SQL Server"},
       new languages { projectid = 7, name = "SQL Server"},
       new languages { projectid = 8, name = "SQL Server"},

       new languages { projectid = 3, name = "Azure (Web Hosting And SQL Server)"},
       new languages { projectid = 1, name = "IIS Web Service"},
       new languages { projectid = 2, name = "IIS Web Service"},
       new languages { projectid = 4, name = "IIS Web Service"},
       new languages { projectid = 5, name = "IIS Web Service"},
       new languages { projectid = 6, name = "IIS Web Service"},
       new languages { projectid = 3, name = "IIS Web Service"},

       new languages { projectid = 5, name = "jQuery"},
       new languages { projectid = 7, name = "jQuery"},
       new languages { projectid = 6, name = "ASP.NET Webform"},
       new languages { projectid = 7, name = "ASP.NET Webform"},
       new languages { projectid = 8, name = "ASP.NET MVC"},
      
       new languages { projectid = 1, name = "ASP.NET WEB API(REST)"},
       new languages { projectid = 2, name = "ASP.NET WEB API(REST)"},
       new languages { projectid = 4, name = "ASP.NET WEB API(REST)"},
       new languages { projectid = 5, name = "ASP.NET WEB API(REST)"},
       new languages { projectid = 8, name = "ASP.NET WEB API(REST)"},
    };
}
