<div class="card mt-2 mb-2">
    <div class="card-body">
        <h6 class="mb-n2 ml-lg-1"> <img src="/Images/work.png" alt="Admin" class="rounded-circle" width="30"> <b> WORK EXPERIENCE </b></h6>
        <hr />

        <div class="row card-group">
            <div class="row d-flex flex-wrap">
                <div class="card-body mt-n4">
                    @foreach (var p in project)
                    {
                        <div>
                            <table class="w-100">
                                <tr>
                                    <td rowspan="4" valign="top" align="left" width="10px">
                                        <h5 class="ml-lg-2">►</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="35%" style="vertical-align: top;">
                                        <b class="d-inline">
                                            @p.Name
                                        </b><br />
                                        <p style="font-size:small">
                                            @p.Year
                                        </p>
                                    </td>
                                    <td align="center" style="vertical-align: top;">
                                        <b>
                                            @p.Desciption
                                        </b>
                                        <p>
                                            @p.Position
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <ul class="mt-n3">
                                            @foreach (var row in roles.Where(x => x.roleDescriptionid == p.roleDescriptionid))
                                            {
                                                <li style="font-size:medium">@row.Notes</li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    class Projects
    {
        public string Name { get; set; }
        public string Desciption { get; set; }
        public string Year { get; set; }
        public string Position { get; set; }
        public int roleDescriptionid { get; set; }

        public virtual ICollection<RoleDescription> roleDescription { get; set; }
        //public string Project { get; set; }
        //public string ProjectNameDescription { get; set; }
        //public string Tools { get; set; }
    }

    class RoleDescription
    {
        public int roleDescriptionid { get; set; }
        public string Notes { get; set; }
    }

    List<Projects> project = new List<Projects>
    {

         new Projects { Name = "Upwork", Desciption="Freelance Platform", Year="Jan 2022 - Current",
            Position=".NET Developer", roleDescriptionid = 2
             //ProjectName="Jyosna Enterprise Management(Web App)", ProjectNameDescription="Using ASP.NET Webform and C# | Javascript and jQuery",
             //Tools="Visual Studio, SQL Server Management Studio and IIS Web Service"
         },
         new Projects { Name = "Jyosna Inc.", Desciption="Financial Technology Software Solution", Year="October 2019 - October 2022",
             Position="Software Developer", roleDescriptionid = 1
             //ProjectName="Jyosna Enterprise Management(Web App)", ProjectNameDescription="Using ASP.NET Webform and C# | Javascript and jQuery",
             //Tools="Visual Studio, SQL Server Management Studio and IIS Web Service"
         },

         new Projects { Name = "Hilsoft Inc.", Desciption="Software Development Solution", Year="December 2018 - October 2019",
             Position="Software Developer", roleDescriptionid = 3
             //ProjectName="Property Management System (Web App and Web API(REST))", ProjectNameDescription="Using ASP.NET MVC, Web API and C# | Javascript, AJAX, Bootstrap and jQuery",
             //Tools="Visual Studio, GIT, Crystal Report, Postman(for API),Anydesk(for remote server) SQL Server Management Studio and IIS Web Service"
         },

         new Projects { Name = "Anderson Group BPO Inc.", Desciption="BPO services I.T Solution", Year="March - June 2018",
             Position="Web Developer(Intern)", roleDescriptionid = 4
             //ProjectName="Inventory System(Internal System(Web App))", ProjectNameDescription="Using ASP.NET MVC and C# | Angular JS",
             //Tools="Visual Studio, SQL Server Management Studio and IIS Web Service"
         },
        //new Projects { Name = "N/A", Desciption=" ", Year=" ",
        //    Position=" ", ProjectName="Wedding Invitation System(RSVP) ", ProjectNameDescription="Using Blazor and C# | Bootstrap | Azure",
        //    Tools="Visual Studio, SQL Server Management Studio and Azure"},
        //new Projects { Name = "N/A", Desciption=" ", Year=" ",
        //    Position=" ", ProjectName="Hotel Management and Recruitement System", ProjectNameDescription="Using Blazor and C# | Bootstrap And MudBlazor",
        //    Tools="Visual Studio And SQL Server Management Studio"}
    };

    List<RoleDescription> roles = new List<RoleDescription>
    {
       new RoleDescription { roleDescriptionid = 1, Notes = "Integrate and develop solutions to financial institutions concerns in order to integrate them into the current system."},
       new RoleDescription { roleDescriptionid = 1, Notes = "Keep and make sure that data is correct and balanced every time it is sent to another system or synced successfully."},
       new RoleDescription { roleDescriptionid = 2, Notes = "Always available and attentive to the clients necessary for the development of the project."},
       new RoleDescription { roleDescriptionid = 2, Notes = "Defines the time frame for each specific task and deliver the result with quality."},
       new RoleDescription { roleDescriptionid = 3, Notes = "Responsible for planning, designing and developing a customer concern."},
       new RoleDescription { roleDescriptionid = 3, Notes = "Worked as a single man team for the property management system and was successfully delivered to the customer."},
       new RoleDescription { roleDescriptionid = 4, Notes = "Worked on modifying and updating a Page Report for their internal inventory system." },
    };


}
